<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Players Index</title>
</head>
<body>
    <div>
        <h1>Players Index Page</h1>
        <h3>Active Players</h3>
        <% if (players.length === 0) { %>
            <p>No player registered</p>
        <% } else {  %>
            <% activePlayers.forEach(player => { %>
                <li>
                    <a href="/players/<%= player.id %>" ><%= player.name %></a>
                </li>
            <% }) %>
        <% } %>

        <h3>Non Active Players</h3>
        <% notActivePlayers.forEach(player => { %>
            <li>
                <a href="/players/<%= player.id %>" ><%= player.name %></a>
            </li>
        <% }) %>
    </div>
    <br>
    <button type="button" name="button">
        <a href="/">Home</a>
    </button>
</body>
</html>