<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Players Index</title>
</head>
<body>
    <nav></nav>
    <h1>Players Index Page</h1>
    <% if (players.length === 0) { %>
        <p>No player registered</p>
    <% } else {  %>
        <% players.forEach(player => { %>
        <a href="/players/<%= player.id %>" ><%= player.name %></a> 
        <% }) %>
    <% } %>
     
</body>
</html>