<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player Profile</title>
</head>
<body>
    <div class="player-profile">
        <fieldset>
            <legend><%= player.name %>'s Profile</legend>
            Name: <%= player.name %> <br>
            Position: <%= player.position %> <br>
            Jersey No.: <%= player.jersey %> <br>
            Active: <% if(player.isActive === true) { %>
                 ✓ 
            <% } else { %> 
                ✕
            <% } %> 
        </fieldset>
    </div>
    
</body>
</html>