<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PMS Home</title>
</head>
<body>
    <div>
        <h1>PMA Home Page</h1>
        <p>
            <a href="/teams">Team List</a>
        </p>
        <p>
            <a href="/players">Player List</a>
        </p>
    </div>
</body>
</html>