<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('partials/head.ejs') %>
  </head>
  <body>
    <div class="container">
        <%- include ('partials/nav.ejs') %>
      <h3>Home Page</h3>

      <div class="row">
        <div class="col s6">
          <div class="card-panel hoverable">
            <ul class="collection">
              <li class="collection-item avatar">
                <span class="title">
                  <a href="/teams">
                    ALL TEAMS
                    <img src="../images/all-teams.jpg" alt="" class="circle" />
                  </a>
                </span>
              </li>
            </ul>
          </div>
        </div>
        <div class="col s6">
          <div class="card-panel hoverable">
            <ul class="collection">
              <li class="collection-item avatar">
                <span class="title">
                  <a href="/players">
                    ALL PLAYERS
                    <img src="../images/players.jpg" alt="" class="circle" />
                  </a>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
