<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('partials/head.ejs') %>
</head>
<body>
    <div>
        <h1>PMA Home Page</h1>
        <p>
            <a href="/teams">Team List</a>
        </p>
        <p>
            <a href="/players">Player List</a>
        </p>
    </div>
</body>
</html>