<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>
    <title>Log In</title>
</head>
<body>
    <div class="container">
        <h3 class="blue-text text-darken-2 center">⚽ Player Management System ⚽ </h3>
        <br><br>
        <h5>Log In</h5>
        <form action="/sessions" method="POST">
            <label class="indigo-text text-darken-4" for="name">User Name:</label>
            <input type="text" name="username" required/>
            <label class="indigo-text text-darken-4" for="color">Password:</label>
            <input type="password" name="password" />
            <br>
            <input type="submit" value="Submit">
        <form>
        <p>
            New User should click below link to register. <br>
            <a class="indigo-text text-darken-4" href="/users/new">Register</a>
        </p>
    </div>
    
</body>
</html>